.app {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.app--sidebar {
    grid-column: 1;
    grid-row: 2/3;
}

.app--creationpage {
    grid-column: 1;
    grid-row: 1;
}

.app--feed {
    grid-column: 2 / 3;
    grid-row: 1; 
}