.feedbox {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.feedbox--profileimg {
    height: 50px;
    width: 50px;
    border-width: 5px;
    border-color: white;
}

.feedbox--username {
    color: white;
}

.feedbox--postdate {
    color: white;

}

.feedbox--memorydate {
    color: white;

}

.feedbox--postimg {
    height: 100px;
    width: 100px;
}

.feedbox--note {
    color: white;

}